<div class="flex flex-wrap">
  <img src="https://www.momoparty.com/cdn/shop/files/Homepage_Fiesta_2026_4707f60f-51e8-4f93-8633-3d01a52efc1c.jpg?v=1775472952&width=2464" alt="Party" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">

  <div class="w-full sm:w-8/12 mb-10">
    <div class="container mx-auto h-full sm:p-10">
      <nav class="flex px-4 justify-between items-center">

        <div>
          <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
        </div>
      </nav>
      <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
        <div class="w-full">
          <h1 class="text-4xl lg:text-6xl font-bold">Find your <span class="text-pink-500">unforgettable </span> stuff for your party</h1>
          <div class="w-20 h-2 bg-pink-500 my-4"></div>
          <p class="text-xl mb-10">{{ about }}</p>
        </div>
      </header>
    </div>
  </div>
</div>
<div class="flex flex-wrap">
  <div class="w-full sm:w-8/12 mb-10">
    <div class="container mx-auto h-full sm:p-10">
      <nav class="flex px-4 justify-between items-center">

        <div>
          <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
        </div>
      </nav>
      <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
        <div class="w-full">
          <h1 class="text-4xl lg:text-6xl font-bold">Explore Our Services and Book with  <span class="text-green-700">Confidence</span> </h1>
          <div class="w-20 h-2 bg-green-700 my-4"></div>
          <p class="text-xl mb-10">{{ booking }}</p>
        </div>
      </header>
    </div>
  </div>
  <img src="https://m.media-amazon.com/images/I/8154xVk0KrL.jpg" alt="Glow" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
</div>
